@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body{ font-family: 'Lato', sans-serif;  font-size: 14px; color: #464646;  }
h1, .h1{
	font-size: 60px;
	font-weight: 700;
}
h2,.h2{
	font-size: 36px;
	font-weight: 400;
}
h3, .h3{
	font-size: 26px;
	font-weight: 700;
}
h4, .h4{
	font-size: 20px;
	font-weight: 700;
}
a {
    color: #052c51; 

}
a:hover {
    color: #464646; 
     text-decoration: none;
}
ul li  a{ display: block; }
.small_titel{ text-transform: uppercase; color: #052c51; }
.btn{ margin: 10px 0px; border-radius: 50px !important; min-width:200px; font-weight: bold; font-size: 18px; line-height:35px; text-transform: uppercase;}
.btn.btnlight{ background: #fff; color: #052c51;  border:2px solid #fff; }
.btn.btnlightborder{ background: transparent; color:#fff; border:2px solid #fff;  }
.btn.btndark{ background: #052c51; color: #fff;  border:2px solid #052c51; }
.btn.btndarkborder{ background: transparent; color:#052c51;   border:2px solid #052c51; }

.btn.btnlight:hover{  background: transparent; color:#fff; border:2px solid #fff;   }
.btn.btnlightborder:hover{background: #fff; color: #052c51 !important;  border:2px solid #fff; }
.btn.btndark:hover{background: transparent; color:#052c51;   border:2px solid #052c51;  }
.btn.btndarkborder:hover{ background: #052c51; color: #fff  !important;  border:2px solid #052c51; }

.gradintblue{	position: relative;}
.gradintblue::after{height: 100%;content: "";display: block;position: absolute;	bottom: 0;	top: 0;	z-index: 1;	width: 100%;
	background: linear-gradient(to top, rgba(5, 44, 81, 1), rgba(5, 44, 81, 0));}
.gradintbluere{	position: relative;}
.gradintbluere::after{height: 100%;content: ""; display: block;position: absolute;	bottom: 0;	top: 0;	z-index: 1;	width: 100%;
	background: linear-gradient(to bottom, rgba(5, 44, 81, 1), rgba(5, 44, 81, 0));}
.gradintwhite{	position: relative;}
.gradintwhite::after{height: 100%;content: "";display: block;position: absolute;	bottom: 0;	top: 0;	z-index: 1;	width: 100%;
	background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));}
.gradintwhitere{	position: relative;}
.gradintwhitere::after{height: 100%;content: ""; display: block;position: absolute;	bottom: 0;	top: 0;	z-index: 1;	width: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));}

.container{ position: relative; z-index: 10; }
.pad50{padding-top: 50px; padding-bottom: 50px;}
.site_heading{ clear: both; overflow: hidden; width: 100%; text-align: center; }
.site_heading h2{ color: #052c51; }

/*header*/

header nav{	background: rgba(5,44,81,.9);}
header{	position: fixed;  z-index: 1000;  width: 100%;}
header .navbar-nav .nav-link{   line-height: 48px;	color: #fff !important;  text-transform: uppercase;}
.ss_extra_m{ background: #fff; margin-left: 30px !important;      line-height: 50px;}
header .ss_extra_m a{  text-transform: uppercase; color: #052c51 !important; font-weight: bold; font-size: 16px;  padding-right: 25px !important;    padding-left: 25px !important;}
header .navbar{ padding-top: 0px !important; padding-bottom: 0px !important; }
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}
}

/*banner*/
 
#banner{position: relative; overflow: hidden;}
.banner_content{position: absolute; top: 35%; width: 100%; left: 0; z-index: 999; color: #fff;}
.banner_content h1{ font-weight: 300; color: #fff;  }
.banner_content h1 span{ font-weight: 700;  }
.banner_content p{ font-size: 24px; text-transform: uppercase; font-weight: 300; margin:30px 0px; }
#banner .banner_img img{margin: auto;width: 100%}
#banner .slick-prev{ left:0; z-index: 1000;}
#banner .slick-next{ right: 0;  z-index: 1000;}
#banner .slick-dots button{ background:#fff; height: 12px; width: 12px; padding: 0;}
#banner .slick-dots{ position: absolute; z-index: 100; margin: 0;width: 100%;bottom:10px;}
#banner .slick-slide{position: relative;}


    /*home event*/

 #home_event{ padding: 50px 0px; color: #fff; }
  #home_event h2{  font-weight:400; text-transform: uppercase;}
/*COUNTDOWN TIMER */
ul.countdown_rs {list-style: none;padding: 0;display: block;text-align: left; margin: 30px 0px;} 
ul.countdown_rs li {display: inline-block;background:#052c51 !important;padding:5px 10px;border-radius:6px;}
ul.countdown_rs li p{line-height:20px; margin: 0;}
ul.countdown_rs li .h2{ color: #fff;   }

/* END COUNTDOWN TIMER*/

/*welcom text*/

#welcom_text h2{ color: #052c51; }

/*latest sermon*/

#latest_sermon .ls_contet_l{ position: absolute; top: 20%;  padding: 50px; z-index: 100;    text-align: center; }
#latest_sermon .ls_contet_m{ position: relative; top: 20%;  padding: 30px; z-index: 100;    text-align: center; }
#latest_sermon .container-fluid{ padding: 0; }
.sl_link{ text-align: center; padding: 10px; }
.sl_link li{ margin: 5px; border: 1px solid #464646; border-radius: 50%; display: inline-block; height: 40px; width: 40px; text-align: center;; line-height: 35px; }
.sl_link li a{ color: #464646; font-size: 20px;}
.sl_link li:hover{ background: #052c51; border-color: #052c51;  }
.sl_link li:hover a{ color: #fff; }

/*latest product*/

.produt_l_cot{ background: rgba(255,255,255,.5); padding: 15px; width: 100%; text-align: center; position: absolute; bottom: 0;  z-index: 100; }

.produt_l_cot p{ font-weight: 800; color: #052c51; }
.produt_l_cot p del{  font-weight: 400; color: #464646; padding-right: 10px; }
.product_item button{ display: none; cursor: pointer; border-radius: 50%; font-size: 24px; background: rgba(255,255,255,.9); color: #052c51; border: 2px solid #052c51; height: 50px; width: 50px; position: absolute; left: 20px ; top: 20px; z-index: 1000; }
.product_item h5{ font-weight: 400; font-size: 14px;  text-transform: uppercase; }
.product_item:hover button{ display: block; }


/*galley*/

#gallery .ss_g_r .row{ margin-bottom: 30px; }
#gallery .ss_g_r .row div{ overflow: hidden; }
#gallery a{ overflow: hidden;     line-height: 0;  display: block; }
#gallery a img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#gallery a img:hover{
	    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/*testmonial*/

#testmonial{ background: url(../img/test_bg.jpg) no-repeat; background-size: cover; padding-bottom: 50px;}
#testmonial h2{ color: #fff; }
.testmonial_item{ text-align: center; color: #fff; }
.testmonial_item p{ font-size: 16px; }
.testmonial_item .testimonial_image_mr{overflow: hidden; border-radius: 50% 50% !important; margin: 30px auto; height:70px; width:70px;background: #f9f9f9 }
.testmonial_item .testimonial_image_mr img{width: auto;height:70px;}
.slick-dots{ padding: 0; text-align: center; }
.slick-dots li{ list-style-type: none; display: inline-block;  }
.slick-dots button{     
	background: #052c51;
    border: 0;
    border-radius: 50%;
    color: #052c51;
    height: 12px;
    width: 10px;
    margin: 5px 2px;
    font-size: 0; }
.slick-active button{ background: #fff; }

/*our staff*/

.ss_social_staff{ text-align: center;  padding: 0; }
.ss_social_staff li{ list-style-type: none; height: 30px; width: 30px; line-height: 25px; display: inline-block; margin: 5px; border: 1px solid #464646; border-radius: 50%; }
.staff_item{margin-bottom: 20px;}
.anchor_staff_item{margin-bottom: 0 !important;}
.staff_item p{ margin: 5px 0px; }
.staff_item img{ margin-bottom: 10px; height: 200px;width: auto; }
.staff_item .gradintwhitere{height: 200px;width: 200px;overflow: hidden;border-radius: 50%;margin:10px auto;}
.slick-prev{
      display: block;
      height: 27px;
      width: 30px;
      font-size: 0;
      border: 0;
      background: url('../img/sprev.png') no-repeat;
          position: absolute;
    left: -36px;
    z-index: 999;
     top: 30%;
    }

.slick-next{
      display: block;
      height: 27px;
      width: 30px;
      font-size: 0;
      border: 0;
      background: url('../img/snext.png') no-repeat;
          position: absolute;
    right: -36px;
    top: 30%;
    z-index: 999;
    }

/*latest blog*/

#latest_blog h3{ margin-top: 50px;  }
.blog_item{ position: relative; }
.blog_item::after{ position: absolute; content: "" ; display: block; height: 100%; width: 80%; right: 0; top:34px; border: 2px solid #e5ebef;     z-index: -1;}
.b_latest_cont{ padding: 20px 15px; }

/*footer*/

footer{ color: #fff; margin-top: 80px; background: url(../img/footerbg.jpg) no-repeat top center #052c51; background-size: 100%; }
footer form .form-control{ background: transparent; border-radius: 0; border: 0; border-bottom: 2px solid #052c51; text-align: center; }
.suscrible_footer{ padding:50px 0px; }
.suscrible_footer h3{ margin-bottom: 30px; }
.suscrible_footer button{ background: transparent; border: none; color: #fff; font-size: 20px; cursor: pointer; }
footer h4{ font-weight: 400; text-transform: uppercase; margin-top: 20px; }
footer ul{ padding:  0; margin-top:20px; }
footer li{ list-style-type: none; margin-bottom: 10px;}
footer a{ color: #fff; }
.footer_contact{ margin-top: 20px; }
.footer_contact img{ margin-bottom: 10px; max-height: 45px}
.navbar_logo{max-height: 50px}
.footer_contact p{ margin: 10px 0px; }
.footer_contact p i{ margin-right: 5px; }
.copyright{ text-align: center; padding-bottom:20px; border-top: 1px solid #fff; margin-top: 50px; position: relative;}
.copyright .footer_social{ margin: auto; padding: 0; position: relative; top: -26px; text-align: center; left: auto; background: #fff; background: #052c51; max-width: 250px;}
.copyright .footer_social li{ display: inline-block; margin: 5px;  border: 1px solid #fff; height: 40px; width: 40px; line-height:35px; text-align: center;  }


/* inner page titel */

#page_title{ max-height: 350px; overflow: hidden; }
#page_title .bradcumb{ margin: 20px 0; padding: 0; }
#page_title .bradcumb li{ display: inline-block; margin: 0px 5px; }
#page_title .bradcumb a{ color: #fff; }
#main_contant{ margin: 30px 0; position: relative; z-index: 999; }

/* contact us page */

.contact_icon{ height: 50px; width: 50px; line-height: 45px; text-align: center; color: #052c51; border-radius: 50%; border: 2px solid #052c51; margin: 15px auto; font-size: 25px; }
.contact_top{ margin: 30px 0px; }
.contact_top h3{ color: #052c51; font-size: 24px; }
.form-control{ border-radius: 0; margin-bottom: 20px; }
.contact_bottom{ margin: 50px 0px; }

/* about us */

.buton_dicpalay{ background: #f1f1f1; padding: 30px; }

/* event list */

.events_item{ padding: 20px 0px; border-bottom: 1px solid #dcdcdc; }
.events_item a.gradintwhite{ display: block;  }
.events_item .e_smallt{ color: #999; }
.events_item .e_date{ text-align: center; }
.events_item .e_date h1{ color: #052c51; }
.events_item .btndark{ margin-top: 20%; }
.event_deteils{ padding: 0px 20px 20px 20px; position: relative; z-index: 1000; }
.event_titel { color: #052c51; border-bottom: 1px solid #052c51; margin-bottom: 30px; }
.event_deteils h4{  font-size: 18px;    font-weight: 400;    margin: 0;  color: #052c51;}
#bookingform .modal-header{ background: #052c51; color: #fff;}
.older_post .btn{ font-size: 14px; font-weight: 400; padding: 5px 20px;   line-height: 28px;  min-width: 100px }
#bookingform .form-control{ margin-bottom: 10px; }
#bookingform .btn{ font-size: 16px; font-weight: 400; padding: 5px 20px;   line-height: 28px;  min-width: 100px }
#bookingform label{color: #052c51;}


/*blog*/
.blog_list .blog_img img{ width: 95%; }
.blog_list .blog_item::after{ display: none;  }
.blog_list .blog_item{ overflow: hidden; padding-bottom: 30px; }
.blog_list .blog_item .blog_img{ position: relative; margin-bottom: 60px; }
.blog_list .blog_item .blog_img::after{ position: absolute; content: "" ; display: block; height: 100%; width: 80%; right: 0; top:34px; border: 2px solid #e5ebef;     z-index: -1;}
.blog_p_date{ position: absolute; top: 0; left:-60px; width: 60px; text-align: center; padding: 10px; background: #052c51;  color: #fff;}
.blog_p_date p{ margin: 0; }
.blog_p_date h2{ line-height: 20px; }
.blog_list .btndarkborder { min-width: 150px;  font-size: 16px;  line-height: 26px;  text-transform: uppercase;}
.coment_btn{ line-height: 36px; margin: 10px 0px; }
.page-link{ color: #052c51; }
.sidebar_title{ position: relative; margin-bottom: 30px; color: #052c51; }
.sidebar_title::after{  display: block; content: ""; width: 20%; border-bottom: 5px solid #052c51; margin-top: 10px;  }
.recent_post h5{ font-size: 15px; }
.recent_post .row{ margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #f1f1f1; }
.recent_post p{ color: #ccc; }
.tag_post ul{ padding: 0; }
.tag_post li{ display: inline-block; background: #f1f1f1; padding: 5px 10px; margin-right: 10px; margin-bottom: 10px; }

.pd_title{ font-size: 20px; margin: 20px 0; color: #052c51;}


/* post comment*/

 
.comment_box .panel-white {
  border: 1px solid #dddddd;
}
.comment_box .panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.comment_box .panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.comment_box .post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.comment_box .post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.comment_box .post .post-heading .meta .title {
  margin-bottom: 0;
}
.comment_box .post .post-heading .meta .title a {
  color: black;
}
.comment_box .post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.comment_box .comment_box .post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.comment_box .post .post-image .image {
  width: 100%;
  height: auto;
}
.comment_box .post .post-description {
  padding: 15px;
}
.comment_box .post .post-description p {
  font-size: 14px;
}
.comment_box .post .post-description .stats {
  margin-top: 20px;
}
.comment_box .post .post-description .stats  .btn{ min-width: auto; }
.comment_box .post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.comment_box .post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.comment_box .post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.comment_box .post .post-footer .input-group-addon a {
  color: #454545;
}
.comment_box .post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.comment_box .post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.comment_box .post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.comment_box .post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.comment_box .post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.comment_box .post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.comment_box .post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.comment_box .post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.reply_comments .btn{ margin-top: 30px; font-size: 16px; line-height: 28px; min-width: 150px;   }

/*mobile responsive*/

   
@media only screen and (max-width: 768px) {
	#latest_sermon .l_post{ margin-bottom: 20px; }
	#welcom_text .gradintwhite{ display: none;  }
	#latest_sermon .container-fluid{
		 padding-right: 15px;
    padding-left: 15px;
    max-width: 540px;

	}
	.navbar-light .navbar-toggler{ background: #fff; }
	 .col{     -ms-flex-preferred-size: auto;    flex-basis:auto; }
h1, .h1{
	font-size: 34px;
	font-weight: 700;
}
h2,.h2{
	font-size: 28px;
	font-weight: 400;
}
h3, .h3{
	font-size: 16px;
	font-weight: 700;
}
h4, .h4{
	font-size: 16px;
	font-weight: 700;
}
.banner_content p {
    font-size: 14px; 
    margin: 10px 0px;
}
.btn{
	    font-size: 14px;
    line-height: 22px;
        min-width: 140px;
}
.img-fluid{ width: 100%; }
#gallery .ss_g_r .row {    margin-bottom: 0;}
#gallery a{     margin-bottom: 20px; }
.col-3, .col-5, #testmonial .col-6{
	width: 100%;
    flex: 100%;
    max-width: 100%;
}
.blog_item::after{ width: 94%; }
.b_latest_cont{ padding: 20px 20px 20px 50px; }
.suscrible_footer .col-6{
	    flex: 100%;
    max-width: 100%;
}
footer .col{ width: 50%; }
footer .img-fluid{ width: auto; }
footer form .form-control{ border-color: #fff; }
footer li{ text-align: left;  }
footer h4{ text-align: left;     font-weight: 600; }
.footer_contact{ text-align: left; }
ul.countdown_rs {
    list-style: none;
    padding: 0;
    display: block;
    text-align: left;
    margin: 30px auto;
    text-align: center;
}
#home_event{ text-align: center; }
.events_item h5{ margin-top: 20px; }
.events_item .btndark{ margin-top: 10px; }
.events_item .e_date { text-align: left; }
.events_item .e_date h1, .events_item .e_date p{ display: inline-block; }
}

@media only screen and (max-width:540px) {
	h1, .h1{
	font-size: 30px;
	font-weight: 700;
}
h2,.h2{
	font-size: 22px;
	font-weight: 400;
}
footer .col{ width: 100%; }
.banner_content p{ display: none; }
footer li{ text-align: center;  }
footer h4{ text-align: center;     font-weight: 600; }
.footer_contact{ text-align: center; }
}

#event-map > div{ position: relative !important; height: 300px !important;}

.gallery-tab-bar-mr button {

    padding: 5px 20px !important;
    min-width: 100px;
    font-size: 14px;
    line-height: 24px;

}